@font-face{ font-family:'NotoSans-Bold'; src: url('Fonts/NotoSansCJKkr-Bold.otf'); }

@media screen and (min-width: 768px) {
    .navitem-empty1 {
        flex-grow: 15;
    }
    
    .navitem-empty2 {
        flex-grow: 40;
    }
    
    .navitem-empty3 {
        flex-grow: 1;
    }
    
}

.navbar {
    background: linear-gradient(to left, #FF03E2, #03AAFE);
    box-shadow: 0px -30px 50px 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.navbar:after {
    content:'';
    display: block;
    clear:both;
}

.navitem {
    flex-grow: 1;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.5));
}

.navitem a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'NotoSans-Bold';
    font-size: 16px;
    display: block;
    padding: 10px;
    margin: 0px;
}
.navitem a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.15);
}

.langset {
    position: relative;
}
.langset a:hover:not(.active) .sub {
    display: block;
}