@font-face{ font-family:'NotoSans-Thin'; src: url('Fonts/NotoSansCJKkr-Thin.otf'); }

body {
    background-color: #fff;
    margin: 0;
}

.content {
    display: flex;
    margin-top: 60px;
    color: #000;
    font-size: 30px;
    list-style-type: none;
    justify-content: center;
}

@medua screen and (max-width: 767px) {
    
}
@medua screen and (min-width: 768) and (max-width: 1023px) {
    
}
@medua screen and (min-width: 1024) {
    .maincontent {
        flex-grow: 1;
    }
}